[req]
default_bits              = 2048
req_extensions            = extension_requirements
distinguished_name        = dn_requirements
prompt                    = no

[extension_requirements]
basicConstraints          = CA:FALSE
keyUsage                  = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName            = @sans_list

[dn_requirements]
countryName               = IN
stateOrProvinceName       = West Bengal
localityName              = Siliguri
0.organizationName        = Individual
organizationalUnitName    = Individual
commonName                = sumangcodes.info
emailAddress              = sumang.codes@gmail.com

[sans_list]
DNS.1                     = sumangcodes.info
DNS.2                     = product-catalog.sumangcodes.info
DNS.3                     = shopping-cart.sumangcodes.info
DNS.4                     = container-app.sumangcodes.info
DNS.5                     = www.sumangcodes.info
